* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.md-main {
  flex-grow: 0;
  background-color: #fff;
}

.md-main__inner {
  display: flex;
  height: 100%;
}

.tx-container {
  padding-top: 0rem;
  background: linear-gradient(to bottom, var(--md-primary-fg-color), #527ecf 99%);
}

.tx-hero {
  margin: 32px 2.8rem;
  color: var(--md-primary-bg-color);
  justify-content: center;
}

.tx-hero h1 {
  margin-bottom: 1rem;
  color: currentColor;
  font-weight: 700;
}

.tx-hero__content {
  padding-bottom: 1rem;
  margin: 0 auto;
}

.tx-hero__image {
  width: 17rem;
  height: 17rem;
  order: 1;
  padding-top: 2rem;
}

.tx-hero .md-button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: var(--md-primary-bg-color);
}

.tx-hero .md-button--primary {
  background-color: var(--md-primary-bg-color);
  color: #1d5fd9;
  border-color: var(--md-primary-bg-color);
}

.tx-hero .md-button:focus,
.tx-hero .md-button:hover {
  background-color: var(--md-accent-fg-color);
  color: var(--md-default-bg-color);
  border-color: var(--md-accent-fg-color);
}

@media screen and (max-width: 30em) {
  .tx-hero h1 {
    font-size: 1.4rem;
  }

  .tx-hero__image {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }

  .tx-hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tx-hero__content {
    max-width: 22rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-left: 1rem;
    margin-right: 4rem;
    align-items: center;
  }

  .tx-hero__image {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }

  .tx-hero__image {
    padding-right: 3rem;
  }
}

.cards-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #fff;
  min-height: 25vh;
}

.section {
  position: relative;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 200px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .card .content .imgBx {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #e8e8e8;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.8em;
  font-weight: bold;
}

.container .card .content .contentBx h3 span {
  font-size: 17px;
  font-weight: 100;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.container .card .sci li a {
  color: #000000;
  font-size: 24px;
  transition: 0.2s;
}

.container .card .sci li a:hover {
  color: #1d5fd9;
}

.authors {
  font-size: 40px;
  color: rgb(65, 65, 65);
}

.heading {
  margin-top: 50px;
}

.kofibutton {
  margin-top: 25px;
}
