:root > * {
  --md-primary-fg-color: #b696f5;
  --md-default-fg-color: #fff;
  --md-primary-bg-color: #ffffff;
  --md-default-bg-color: #292a35;

  --md-code-hl-number-color: #bd93f9;
  --md-code-hl-special-color: hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color: #50fa7b;
  --md-code-hl-constant-color: #bd93f9;
  --md-code-hl-keyword-color: #ff79c6;
  --md-code-hl-string-color: #f1fa8c;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: #bd93f9;
  --md-code-hl-punctuation-color: #f8f8f2;
  --md-code-hl-comment-color: #6272a4;
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: #f8f8f2;

  --md-accent-fg-color: #e5d7ff;

  --md-admonition-icon--commands: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M0 2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0114.25 15H1.75A1.75 1.75 0 010 13.25V2.75zm1.75-.25a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V2.75a.25.25 0 00-.25-.25H1.75zM7.25 8a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L5.44 8 3.72 6.28a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm1.5 1.5a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"></path></svg>')
}
.md-typeset .admonition.commands,
.md-typeset details.commands {
  border-color: #B696F5;
}
.md-typeset .commands > .admonition-title,
.md-typeset .commands > summary {
  background-color: #b696f52e;
}
.md-typeset .commands > .admonition-title::before,
.md-typeset .commands > summary::before {
  background-color: #B696F5;
  -webkit-mask-image: var(--md-admonition-icon--commands);
          mask-image: var(--md-admonition-icon--commands);
}