:root > * {
  --md-primary-fg-color: #1d5fd9;
  --md-default-fg-color: #fff;
  --md-primary-bg-color: #ffffff;
  --md-default-bg-color: #292a35;
  --md-footer-bg-color: #161623;

  --md-code-hl-number-color: #d19a66;
  --md-code-hl-special-color: #789add;
  --md-code-hl-function-color: #61afef;
  --md-code-hl-constant-color: #e5c07b;
  --md-code-hl-keyword-color: #c678dd;
  --md-code-hl-string-color: #98c379;
  --md-code-hl-name-color: #61afef;
  --md-code-hl-operator-color: #56b6c2;
  --md-code-hl-punctuation-color: #ffffff;
  --md-code-hl-comment-color: #7f848e;
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: #e06c75;


  --md-accent-fg-color: #7fa9ff;
  --md-admonition-icon--commands: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M0 2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0114.25 15H1.75A1.75 1.75 0 010 13.25V2.75zm1.75-.25a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V2.75a.25.25 0 00-.25-.25H1.75zM7.25 8a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L5.44 8 3.72 6.28a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm1.5 1.5a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"></path></svg>');
  --md-admonition-icon--code: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M4 1.75C4 .784 4.784 0 5.75 0h5.586c.464 0 .909.184 1.237.513l2.914 2.914c.329.328.513.773.513 1.237v8.586A1.75 1.75 0 0114.25 15h-9a.75.75 0 010-1.5h9a.25.25 0 00.25-.25V6h-2.75A1.75 1.75 0 0110 4.25V1.5H5.75a.25.25 0 00-.25.25v2.5a.75.75 0 01-1.5 0v-2.5zm7.5-.188V4.25c0 .138.112.25.25.25h2.688a.252.252 0 00-.011-.013l-2.914-2.914a.272.272 0 00-.013-.011zM5.72 6.72a.75.75 0 000 1.06l1.47 1.47-1.47 1.47a.75.75 0 101.06 1.06l2-2a.75.75 0 000-1.06l-2-2a.75.75 0 00-1.06 0zM3.28 7.78a.75.75 0 00-1.06-1.06l-2 2a.75.75 0 000 1.06l2 2a.75.75 0 001.06-1.06L1.81 9.25l1.47-1.47z"></path></svg>');
}

.md-typeset .admonition.commands,
.md-typeset details.commands {
  border-color: #b696f5;
}
.md-typeset .commands > .admonition-title,
.md-typeset .commands > summary {
  background-color: #b696f52e;
}
.md-typeset .commands > .admonition-title::before,
.md-typeset .commands > summary::before {
  background-color: #b696f5;
  -webkit-mask-image: var(--md-admonition-icon--commands);
  mask-image: var(--md-admonition-icon--commands);
}

.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: rgb(164, 228, 198);
}
.md-typeset .code > .admonition-title,
.md-typeset .code > summary {
  background-color: #96f5cd2e;
}
.md-typeset .code > .admonition-title::before,
.md-typeset .code > summary::before {
  background-color: #96f5c4;
  -webkit-mask-image: var(--md-admonition-icon--code);
  mask-image: var(--md-admonition-icon--code);
}

.headerlogo {
  scale: 1.5;
  margin-right: -0.5rem;
}

.md-footer {
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}

.md-main {
  margin-bottom: 7rem;
}

.md-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 76.1875em) {
  .headerlogo {
    scale: 1;
    margin-right: -0.5rem;
  }
}
